
header{
    background-color: black;
}
header ul,a{
    color: white;
}
#contenido{
    background-color: blue;
}
footer{
    background-color: black;
}
footer p{
    color: white;
}
img{
    height: 120px;
    width: 120px;
}